[package]
authors = ["Juliette Cordor", "Patrick Auernig <dev.patrick.auernig@gmail.com>"]
name = "discord-presence"
description = "A Rust client for Discord RPC."
keywords = ["discord", "rpc", "ipc"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/jewlexx/discord-presence.git"
version = "0.5.15"
edition = "2018"

[dependencies]
serde_json = "1.0"
byteorder = "1.4"
bytes = "1.3"
crossbeam-channel = "0.5"
num-derive = "0.3"
num-traits = "0.2"
thiserror = "1.0"
cfg-if = "1.0"
tracing = "0.1"
implicit-clone = "0.3"
parking_lot = "0.12"
strum = { version = "0.24", features = ["derive"] }
bevy = { version = ">=0.9", optional = true, default-features = false }

[target.'cfg(windows)'.dependencies]
named_pipe = "0.4"

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dependencies.uuid]
version = "1.2"
features = ["v4"]

[dev-dependencies]
ctrlc = "3.2.5"
rusty-hook = "0.11.2"
tracing-subscriber = "0.3.16"
version-sync = "0.9"
